body {
  background-color: LightGray;
  Display: flex;
  margin: 250px;
  
}
.signInBox{
	Display: inline-Block;
	margin: auto;
}
.title{
	border-style: hidden;
	
}
h1{
	padding: 0px 15px 0px 15px;
	color: purple;
	animation-name: example;
	animation-duration: 4s;
	text-decoration: bold;
	border-style: hidden;
}
@keyframes example {
	
  0%   {color: purple;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
.form{
	border-style: hidden;
	text-align: center;
}
.return{
	padding: 15px;
	border-style: hidden;
	text-align: center;
}
#uname{
	margin-top: 15px;
}
#pass{
	margin-top: 15px;
}
#fname{
	margin-top: 15px;
}
#sub{
	margin: 15px 0px 15px 0px;
	padding: 5px;
}
label{
	font-size: 25px;
	display: inline-block;
    
}
a:link{
	color: green;
	text-decoration: none;
	font-size: 20px;
}
a:visited {
	color: blue;
}
a:hover{
	color: yellow;
}
a:active{
	color: red;
}