<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Account</title>
		<link rel="stylesheet" href="/css/accounts.css"/>
		<style>
		body {
			  background-color: LightGray;
			  Display: inline-block;
			  margin: 250px;
			  text-align: center;
			  
			}
		input{
			padding: 10px 10px;
  			margin: 8px 0;
  			box-sizing: border-box;
		}
		label{
		   font-size: 23px;
		   display: inline-block;
		   width: 185px;
		}
		</style>
	</head>
	<body>
		<h1 style="color: purple">[[${account.accountName}]]</h1>
		<form action="" method="post">
			<div>
				<input type="hidden" th:field="${user.accounts}">				
			</div>
			<div>
				<label>Account Name:</label> <input type="text" th:field="${account.accountName}">
			</div>
			<div>
				<input type="hidden" th:field="${user.username}" />
			</div>
			<div>
				<input type="hidden" th:field="${user.password}" />
			</div>
			<div>
				<input type="hidden" th:field="${user.name}" />
			</div>
			<div>
				<input type="hidden" th:field="${user.address.addressLine1}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.addressLine2}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.city}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.region}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.country}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.zipCode}">
			</div>
			<div>
				<input type="submit" value="Create Financial Account">
			</div>
		
		
		<hr>
		<a style="font-size: 23px;" th:href="@{/users/{userId}(userId=${user.userId})}">Return to User</a>
	</body>
</html>