<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Users</title>
		<link rel="stylesheet" type="text/css" href="/css/users.css"/>
		<style>
		input{
			padding: 10px 10px;
  			margin: 8px 0;
  			box-sizing: border-box;
		}
		label{
		   font-size: 25px;
		   display: inline-block;
		   width: 185px;
		}
		</style>
	</head>
	<body>
		<div class="header1" style="text-align:center;">
			<h1 style="color:blue;">Users</h1>
				<div th:unless="${#lists.size(users) == 1}">
				<a style="font-size: 23px;" href="/register">Register</a>
			</div>
		</div>
		<div style="text-align:center;" th:if="${#lists.size(users) == 1}">
			<form  action="" method="post">
				<div>
					<label for="Username">Username:</label> 
					<input type="text" id="Username" name="Username" placeholder="Enter your username" th:field="${user.username}" />
				</div>
				<div>
					<label for="password">Password:</label> 
					<input type="password" id="password" name="password" placeholder="Enter your password" th:field="${user.password}" />
				</div>
				<div>
					<label for="Fullname">Full Name:</label> 
					<input type="text" id="Fullname" name="FullName" placeholder="Enter your Full Name" th:field="${user.name}" />
				</div>
				<hr>
				<div>
					<label for="AddresLine1">Address Line 1:</label>
					 <input type="text" id="AddresLine1" name="AddresLine1" placeholder="Enter your Address Line 1" th:field="${user.address.addressLine1}"/>
				</div>
				<div>
					<label for="AddresLine2">Address Line 2:</label> 
					<input type="text" id="AddresLine2" name="AddresLine2" placeholder="Enter your Address Line 2" th:field="${user.address.addressLine2}"/>
				</div>
				<div>
					<label for="city">City:</label> 
					<input type="text" id="city" name="city" placeholder="Enter your City" th:field="${user.address.city}"/>
				</div>
				<div>
					<label for="region">Region:</label>
					 <input type="text" id="region" name="region" placeholder="Enter your Region" th:field="${user.address.region}"/>
				</div>
				<div>
					<label for="country">Country:</label> 
					<input type="text" id="country" name="country" placeholder="Enter your country" th:field="${user.address.country}"/>
				</div>
				<div>
					<label for="zipCode">ZipCode:</label>
					 <input type="text" id="zipCode" name="zipCode" placeholder="Enter your zip code" th:field="${user.address.zipCode}"/>
				</div>
				<div>
					<input type="hidden" th:field="${user.accounts}"/>				
				</div>
				
				<div>
					<input type="submit" value="Update User Account" />
				</div>
			</form>
			<div>
				<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
					<input type="submit" value="Delete User Account" />
				</form>
			</div>
			<hr>
			<div>
				<h1 style="color:blue;">Accounts</h1>
			</div>
			<div th:each="account:${user.accounts}">
				<a style="font-size: 23px;"th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
					<span th:text="${account.accountName}"></span>
				</a>
			</div>
			<div>
				<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
				
				<div>
				<input type="hidden" th:field="${user.username}" />
			</div>
			<div>
				<input type="hidden" th:field="${user.password}" />
			</div>
			<div>
				<input type="hidden" th:field="${user.name}" />
			</div>
			<hr>
			<div>
				<input type="hidden" th:field="${user.address.addressLine1}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.addressLine2}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.city}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.region}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.country}">
			</div>
			<div>
				<input type="hidden" th:field="${user.address.zipCode}">
			</div>
			<div>
				<input type="hidden" th:field="${user.accounts}">				
			</div>
					<div >				
						<input type="submit" id="sub" value="Create New Bank Account">
					</div>
				</form>
			</div>
			<div>
				<a style="font-size: 23px;" href="/users" >Back</a>
			</div>
		</div>
		
		<div class="listUsers" th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
			<a style="font-size: 23px;" th:href="@{/users/{userId}(userId=${user.userId})}" type="text" >[[${user.userId}]]</a><br>
			<label style="color:green;">User name: </label><span style="font-size: 23px;" th:text="${user.username}"></span><br/>
			<label style="color:green;">Name: </label><span style="font-size: 23px;" th:text="${user.name}"></span><br/>
			<label style="color:green;">Password: </label><span style="visibility:hidden;" th:text="${user.password}"></span><br/>
			<label style="color:green;">Address Line 1: </label><span style="font-size: 23px;" th:text="${user.address.addressLine1}"></span><br/>
			<label style="color:green;">Address Line 2: </label><span style="font-size: 23px;" th:text="${user.address.addressLine2}"></span><br/>
			<label style="color:green;">City: </label><span style="font-size: 23px;" th:text="${user.address.city}"></span><br/>
			<label style="color:green;">Region: </label><span style="font-size: 23px;" th:text="${user.address.region}"></span><br/>
			<label style="color:green;">Country: </label><span style="font-size: 23px;" th:text="${user.address.country}"></span><br/>
			<label style="color:green;">Zip Code: </label><span style="font-size: 23px;" th:text="${user.address.zipCode}"></span>
			<div th:each="account : ${user.accounts}">
				<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}">
					<span style="font-size: 23px;" th:text="${account.accountName}"></span>
				</a>
			</div>
			<hr/>
		</div>
		<div >
			<a style="font-size: 23px;" href="/register">Register</a>
		</div>
	</body>
</html>